.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
}

.app-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebar {
  width: 250px; /* Width of the sidebar */
  padding: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 10px;
}

/* Additional styles for Calendar and Clock, if needed */
.react-calendar {
  border: 1px solid #ddd;
  max-width: 100%;
  background: rgb(255, 255, 255);
}

.clock {
  margin-bottom: 20px;
  padding: 10px;
  background: #282c34;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}
