.header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #006531; /* Dark background */
    color: white; /* White text */
    padding: 10px 20px;
}

.header .logo {
    height: 50px; /* Adjust based on your logo's size */
    margin-right: 20px; /* Space between the logo and the title */
}

h1 {
    margin: 0; /* Remove default margin */
}
/* Header.css */
.logo {
    width: 200px; /* Set to the desired width, double the original size */
    height: auto; /* This will ensure the aspect ratio is maintained */
}
