.header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #006531; /* Dark background */
    color: black; /* White text */
    padding: 0px 5px;
}

.header .logo {
    height: 100px; /* Adjust based on your logo's size */
    margin-right: 0px; /* Space between the logo and the title */
}

h1 {
    margin: 0; /* Remove default margin */
}
